<body style="background-color: #343a40;">

<section>
    <div class="container mt-4">
        <!-- Heading -->
        <div class="row mb-3">
            <div class="col-12 text-center text-white">
                <h2>All Users</h2>
            </div>
        </div>
        
        <!-- Users Table -->
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">User ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr>
                                <th scope="row">{{increment @index}}</th>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this._id}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
