<section>
 
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 login-box">
        <div class="col-lg-12 login-key">
          <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        <div class="col-lg-12 login-title">
          ADMIN PANEL
        </div>

        <div class="col-lg-12 login-form">
          <form action="/admin/login" method="POST">
            <div class="form-group">
              <label class="form-control-label">USERNAME</label>
              <input type="text" class="form-control" name="username" required>
            </div>
            <div class="form-group">
              <label class="form-control-label">PASSWORD</label>
              <input type="password" class="form-control" name="password" required>
            </div>

            <div class="col-lg-12 loginbttm">
              <div class="col-lg-6 login-btm login-text">
                {{#if error}}
                  <p class="error">{{error}}</p>
                {{/if}}
              </div>
              <div class="col-lg-6 login-btm login-button">
                <button type="submit" class="btn btn-outline-primary">LOGIN</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </div>


</section>
<style>
  body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}

.login-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
}

.login-key {
  margin-top: 10px;
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#6f42c1, #5a2a77); /* Gradient from your primary purple to a darker shade */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
    
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #6f42c1;;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    
    margin-bottom: 20px;
    padding-left: 5px;
    color: #ECF0F5;
    border-radius: 5px;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #6f42c1;E;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 5px;
    margin-bottom: 20px;
    color: #ECF0F5;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid#6f42c1;;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color:#6f42c1;
    color:#6f42c1;;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.btn-outline-primary:hover {
    background-color:#6f42c1;;
    right: 0px;
     border-color:#6f42c1;
    
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}
</style>